@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body{
    background-color: #35374c;
    margin: 0; 
    padding: 0; 
}

h1{
    font-family: 'Roboto Mono', monospace;
    color: #fbe6e1;
}
.word{
    color: white;
    font-family: monospace;
    font-size: 24px;
}

::placeholder{
    color: #bcbdc1;
    font-family: 'Roboto Mono', monospace;
}

input{
    color: #2d2e30;
    font-family: 'Roboto Mono', monospace;
}

.btn{
    border-radius: 4px;
    border: none;
    background-color: #f27360;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: #eeeeed;
}
.btn:hover{
    background-color: #eeeeed;
    color:#f27360;
    border: none;
}

.form{
    border-radius: 7px;
    border: 3px #36374c solid;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #535357;
    height: 55px;
    width: 400px;
    text-align: center;
}
